.auto-pay {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: center;
  padding: 1.8rem 1.2rem;

  &-container > &:not(:last-child) {
    border-bottom: 0.1rem solid var(--color-white-tertiary);
  }
}
