/* line-chart-overrides.scss */

.MuiChartsAxis-line {
  stroke: var(--color-black-primary) !important;
}

.MuiChartsAxis-tick {
  stroke: var(--color-black-primary) !important;
}

.MuiChartsAxis-tickLabel {
  fill: var(--color-black-primary) !important;
  font-size: 12px;
}

.MuiChartsGrid-line {
  stroke: var(--color-black-primary) !important;
}

.MuiLineElement-root {
  stroke: var(--color-primary) !important;
}

.MuiMarkElement-root {
  stroke: var(--color-primary) !important;
}

.MuiChartsTooltip-mark {
  background-color: var(--color-primary) !important; /* Any custom color */
  width: 10px !important;
  height: 10px !important;
  border-radius: 2px;
}

.width-600 {
  width: 600px !important;
}

.custom-scrollbar {
  width: 100%;
  overflow-x: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-white-tertiary);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}
