:root {
  --color-primary: #ff9b23;
  --color-green: #84cc16;
  --color-red: #ff3c38;

  --color-black-primary: #18181b;
  --color-black-secondary: #27272a;
  --color-black-tertiary: #52525c;

  --color-white-primary: #fff;
  --color-white-secondary: #f7f7f7;
  --color-white-tertiary: #e4e4e7;
}
