@use "../../abstracts/variables" as *;

.logo {
  gap: 0.6rem;
  font-size: $h3;

  &-img {
    color: $color-white-primary;
    background-color: var(--color-primary);
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 0.8rem;
  }
}
