@use "../../abstracts/variables" as *;

.visual-icon {
  border-radius: 50%;
  padding: 0.4rem;
  color: $color-white-primary;

  &--incoming {
    background-color: var(--color-green);
  }

  &--outgoing {
    background-color: var(--color-red);
  }

  &--cancel,
  &--check {
    background-color: var(--color-primary);
  }
}
