@use "../abstracts/variables" as *;

.icon {
  &--sml {
    width: $p3;
    height: $p3;
  }

  &--mid {
    width: $p2;
    height: $p2;
  }

  &--big {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.flex-center {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.gap {
  &--sml {
    gap: 0.6rem;
  }

  &--mid {
    gap: 1.2rem;
  }

  &--big {
    gap: 1.6rem;
  }
}

.width-full {
  width: 100%;
}
